
body {
	background: #8c5284;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

form {
	width: 500px;
	border: 2px solid #ccc;
	padding: 30px;
	background: #fff;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
}


label {
	color: #888;
	font-size: 18px;
	padding: 10px;
}


h1 {
	text-align: center;
	color: #070606;
}

